<div id="mySidenav" class="sidenav  container">
 <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
	<div class="row">
  	<div class="col-lg-3 col-sm-6">
             <div class="card hovercard">
             <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="" src="../assets/avatar.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="mailto:auronsanjr@gmail.com">Ahsanul Intishor</a>
                    </div>
                    <div class="desc">Passionate Engineering</div>
                    <div class="desc">Curious developer</div>
                    <div class="desc">Tech geek</div>
                    <div class="desc">Problem Solver</div>
                     <div class="desc">
                      <a href="https://www.linkedin.com/in/auronsan/"><i class="fa fa-linkedin-square fa-3x" style="color:#4169d8;border-radius: 10px;" aria-hidden="true"></i></a>
                      <a href="https://github.com/auronsan"><i class="fa fa-github-alt fa-3x" style="color:#8c41d8;border-radius: 10px;" aria-hidden="true"></i></a>
                      <a href="skype:auron-san1?add"><i class="fa fa-skype fa-3x" style="color:#44baff;border-radius: 10px;" aria-hidden="true"></i></a>
                    </div>
                </div>
                  
            </div>
        </div>
  </div>   
</div>